.pageRoot {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: calc(100vh - 150px);
}

.pageContentContainer {
  width: 890px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rightButtonContainer {
  margin-left: auto;
}

.usersList {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 500px;
  width: 100%;
}

.usersListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 16px;
  background-color: #1f2a62;
}

.usersList {
  width: 100%;
}

.usersListHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.userRow {
  margin-block: 1px 6px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.userRowInput {
  flex-basis: 22.5%;
}

.flash {
  animation: flashHighlight 0.5s ease-in-out;
}

@keyframes flashHighlight {
  0% {
    background-color: #fff8e1; /* light yellow */
  }
  50% {
    background-color: #fff176; /* medium yellow */
  }
  100% {
    background-color: transparent;
  }
}
